// FONTS
@font-face {
  font-family: Rubik;
  src: url("../src/fonts/Rubik/Rubik-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Roboto;
  src: url("../src/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Muli;
  src: url("../src/fonts/Muli/Muli-Black.ttf");
  font-weight: 900;
}



.r {
  font-family: Roboto;
}

.fs18{
  font-size: 18px;
}

.fs20 {
  font-size: 20px;
  color: white;
  line-height: 1.4;
  letter-spacing: normal;
}

.fs20_r {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: normal;
  font-family: Rubik;
  font-weight: bold;
}

.fs36_r{
  font-size: 36px;
  line-height: 1.4;
  letter-spacing: normal;
  font-family: Rubik;
  font-weight: bold;
}

.fs48_r {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
}


// GENERAL SETTINGS
*{
  margin: 0;
  padding: 0;
  font-family: Roboto;
  line-height: 150%;
}

body {
  overflow-x: hidden;
}
.orange {
  color: #f54b19;
}

.black {
  color: black;
}

.white {
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

p {
  font-size: 18px;
}

h1,h2,h3,h4,h5,h6{
  margin-bottom: 2vh;
}

ul{
  list-style: none;
}

img {
  opacity: 0;
  transition: all 500ms;
}

img:not([src]),img[src=""] {
  display: none;
}


select, input, textarea {
  padding: 0 15px;
}


textarea {
  resize: none;
}

input:focus, select:focus, textarea:focus {
  outline-color: #e9150b;
}
// DECORATION


.fade {
  opacity: 1.0;
  transition: all 500ms;
}

.adv_btn {
  background-color: orangered;
  padding: 20px 55px;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.adv_sm_btn {
  background-color: transparent;
  border: none;
  color: orangered;
  font-size: 18px;
  margin-top: 3vh;
  cursor: pointer;
}


.adv_sm_btn::after {
  content: "";
  background-image: url(../src/img/main/r_arrow.svg);
  background-size: 10px 10px;
  box-sizing: border-box;
  transform: rotate(90deg);
  height: 10px;
  width: 10px;
  position: relative;
  bottom: 0;
  left: 9px;
  display: inline-block;
}
.adv_sm_btn:focus{
  outline: none;
}

.f_btn{
  width: 200px;
}

.active {
  color: orangered;
}

.active:after{
  content: url("../src/img/main/r_arrow.svg");
  position: relative;
  bottom: -1px;
  left: 5px;
}



.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 7px 0 7px;
  border-color: #ffffff transparent transparent transparent;
}


.t_btn:after{
  content: url(../src/img/main/r_arrow.svg);
  position: relative;
  bottom: -1px;
  left: 5px;
}

@mixin WhiteStripes{

  .stripes {
    height: 262px;
    width: 262px;
    background: repeating-linear-gradient(
                    45deg,
                    transparent,
                    transparent 10px,
                    #ffffff 10px,
                    #FFFFFF 12px
    );
  }
}

@mixin OrangeGradient {
  background-image: linear-gradient(to top, #ff5b00 11%, #f4511e 46%, #fd3304 79%, #e9150b 99%)
}

@mixin OrangeGradientToBottom {
  background-image: linear-gradient(to bottom, #ff5b00 11%, #f4511e 46%, #fd3304 79%, #e9150b 99%)
}

.xxx1,
.xxx2,
.xxx2_2,
.xxx3,
.xxx4,
.xxx5,
.xxx6,
.xxx7,
.xxx8,
.xxx9{
  box-sizing: border-box;
  position: relative;
  //width: 90%;
  margin: 5rem 10rem;
  padding: 5rem;
  border: 2px solid #f54b19;;
}

.xxx1 {
  border-right: none;
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.xxx2 {
  border-left: none;
  border-bottom: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 2rem 0;
}

.xxx2_2 {
  border-left: none;
  border-bottom: none;
  border-right: none;
  margin: 10rem 15rem 0;
  padding: 0 0 2rem 0;
}

.xxx3 {
  border-right: none;
  border-top: none;
  margin-top: 0;
}

.xxx4{
  border-bottom: none;
  border-top: none;
  border-right: none;
  margin: 0 10rem;
}

.xxx5 {
  border-bottom: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 2rem 0;
}

.xxx6 {
  border-bottom: none;
  border-left: none;
  margin: 5rem 0;
  padding: 5rem 8rem;
}

.xxx7 {
   border-top: none;
   border-right: none;
   border-bottom: none;
}
.xxx8 {
  border-left: none;
  border-bottom: none;
  margin-bottom: 0;
  padding: 5rem 5rem 0 0;
}
.xxx9 {
  border-left: none;
  margin: 5rem 15rem;
  padding: 5rem 8rem 2rem;
}


/*line on top/right*/
.xxx1::before {
  content: '';
  background-image: url(../src/img/footer/Triangle.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: absolute;
  top: -27px;
  right: 0;
  width: 50px;
  height: 50px;
  transform: translateX(100%)rotate(39deg);
}

.xxx1::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  border: 1px solid orangered;
  bottom: 0;
  left: -2px;
  height: 100%;
  width: 0;
  transform: translateY(85%);
}

.xxx6:before{
  content: '';
  box-sizing: border-box;
  position: absolute;
  border: 1px solid orangered;
  top: 0;
  left: 0;
  height: 100px;
  width: 0;
  transform: translateY(-100%);
}

.xxx6:after {
  content: '';
  background-image: none;
  box-sizing: border-box;
  position: absolute;
  border: 1px solid orangered;
  bottom: 0;
  right: -2px;
  height:50%;
  width: 0;
  transform: translateY(100%);
}

.xxx2::before, .xxx5::before, .xxx2_2::before {
  content: attr(data-label);
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-55%);
  padding: .5rem 12rem;
  background: #fff;
}

.xxx5::after {
  content: attr(data-label);
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  border: 1px solid orangered;
  height: 125px;
  transform: translate(-2px, 125px);
}

.xxx7::before {
  content: '';
  background-image: none;
  box-sizing: border-box;
  position: absolute;
  border: 1px solid orangered;
  top: 0;
  left: -2px;
  height: 100%;
  width: 0;
  transform: translateY(-20%);
}

.xxx7::after{
  content: '';
  background-image: none;
  box-sizing: border-box;
  position: absolute;
  border: 1px solid orangered;
  bottom: 0;
  left: -2px;
  height: 100%;
  width: 0;
  transform: translateY(100%)
}
.xxx8::before {
  content: "";
  background-image: none;
  box-sizing: border-box;
  position: absolute;
  border: 1px solid orangered;
  bottom: 0;
  right: -2px;
  height: 60%;
  width: 0;
  transform: translateY(55%);
}
.xxx9::before {
  content: '';
  background-image: url(../src/img/footer/Triangle.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 50px;
  height: 50px;
  transform: translateX(-65%) rotate(10deg);
}
.xxx9::after {
  content: '';
  background-image: url(../src/img/footer/Triangle.svg);
  background-size: 80px 80px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 80px;
  height: 80px;
  transform: translateX(-100%) rotate(55deg);
}

.logo {
  font-family: Muli;
}
.very_big{
  font-size: 10vw;
  font-family: Muli;
}

.big{
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.005em;
  text-transform: uppercase;
}

.bigger{
  font-size: 36px;
  line-height: 43px;
  font-family: Rubik;
  margin-left: 15rem;
}
.bigger_sub{
  font-size: 36px;
  line-height: 43px;
  font-family: Rubik;
  margin-left: 23rem;
}

.bigger_center{
  font-size: 36px;
  line-height: 43px;
  font-family: Rubik;
  margin-bottom: 12px;
}


//FLOW
@mixin F_R {
  display: flex;
  align-items: center;
}

@mixin F_C {
  display: flex;
  flex-direction: column;
}

// HEADER SECTION
header {
  display: flex;
  position: absolute;
  width: 100%;
}

.logo:hover {
  color: #e9150b;
}

.header_wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 35px;
}

.menu_ul{
  display: flex;
}
.main_menu ul li {
  margin: 0 25px;
  font-family: Rubik;
}

.main_menu ul li a{
  font-family: Rubik;
}

.m_li:hover {
  color: orangered;
  transition: all 500ms;
}

.active2 {
  color: orangered;
}

.dropbtn{
  font-family: Rubik;
  position: relative;
}

.dropbtn::after{
  content: '';
  position: absolute;
  bottom: 5px;
  right: -18px;
  border-style: solid;
  border-width: 9px 7px 0 7px;
  border-color: #ffffff transparent transparent transparent;
}

.dropbtn:hover:after {
  content: '';
  border-color: orangered transparent transparent transparent;
  transition: all 500ms;
}


// DROPDOWN
.dropdown_wrapper {
  background-color: rgba(23,23,23,1);
  display: none;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  left: 0;
  top: 98px;
  padding: 45px 15rem;
  z-index: 2;


  div:nth-child(1) {
    flex-basis: 20%;
  }
  div:nth-child(2) {
    flex-basis: 20%;
  }
  div:nth-child(3) {
    flex-basis: 60%;
  }


  .menu_category_img {
    position: relative;
  }
  .menu_subcategory  ul li{
    font-size: 16px;
  }

  .change-image {
    position: relative;
    z-index: 1;
  }

  .menu_category_img_border {
    height: 380px;
    width: 500px;
    position: absolute;
    top: 55px;
    left: 160px;
    z-index: 0;
    @include OrangeGradient;
  }
}

.menu_subcategory  ul li:hover {
  color: orangered;
}


// MAIN TOP SECTION

.main_top_wrapper {
  background-color: #171717;
  background-image: url("../src/img/main/Main-triangle-gradient.webp");
  background-repeat: no-repeat;
  color: white;
  height: 105vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo_underline {
  width: 60%;
  height: 2px;
  background-color: white;
}

.main_top_wrapper p:last-child {
  margin-top: 24px;
}

//MAIN SERVICE SECTION
.service_wrapper{
  display: flex;
  color: white;

  div{
    flex-basis: 33%;
  }
}

.main_service_container {
  background-color: #171717;
  position: relative;
  height: 90vh;

  .service_triangles{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: -69px;

     img:first-child {
        width: 25px;
        height: 25px;
        transform: translate(10px,50px);
    }

    img:nth-child(2) {
      width: 55px;
      height: 55px;
      transform: translateX(55px) rotate(60deg)
    }
    img:last-child {
      width: 100px;
      height: 100px;
      transform: rotate(80deg)translateY(20px)
    }
  }

}


.main_service_wrapper{
  @include F_C;
  color: white;


  .main_service_top_container{
    @include F_R;
    position: relative;

    .main_top_triangles {
      position: absolute;
      right: 0;
      @include F_C;

      img:first-child{
        transform: translate(50px, 20px);
      }
      img:last-child{
        width: 25px;
        transform: translate(60px, 20px)rotate(45deg);
      }
    }
  }
  .menu_service_img{
    @include WhiteStripes;
    position: relative;
    transform: translateY(100px);

    img {
      z-index: 1;
      position: relative;
    }

    .menu_services_img_border{
      @include OrangeGradientToBottom;
      max-width: 423px;
      height: 423px;
      position: relative;
      top: -285px;
      left: -50px;
      z-index: 0;
    }
    .menu_services_stripes{
      position: absolute;
      right: -50px;
      top: -50px;
      z-index: 0;
  }
}
  .menu_service_img::before{
    content: "";
    position: absolute;
    right: -50px;
    top: -50px;
    z-index: 0;
    height: 262px;
    width: 262px;
    background: repeating-linear-gradient(45deg, transparent, transparent 10px, #fff 10px, #fff 12px);
  }
  .menu_service_img::after {
    content: "";
    background-image: linear-gradient(to bottom, #ff5b00 11%, #f4511e 46%, #fd3304 79%, #e9150b 99%);
    width: 423px;
    height: 423px;
    position: absolute;
    bottom: -135px;
    left: -50px;
    z-index: 0;
  }

  .main_service_bottom_container{
    height: 200px;
  }
}

//  WHY WE SECTION
.main_why_we {
  @include F_C;
  align-items: center;
  background-color: white;

  .why_we_slogan{
    transform: translateY(-25px);

  }

  .why_we_wrapper{
    display: flex;
    .why_container{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 50px;
      width: 360px;
      height: 312px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    }
  }
}



//  HOW WE WORK SECTION

.main_how_we_work{
  display: flex;
  flex-direction: column;
  color: white;


  .main_how_we_work_top {
    display: flex;
    position: relative;
    background: #171717;
    padding: 5em 0;

    .triangles{
      position: absolute;
      top: 0;
      right: 0;

      img:first-child{
        width: 31px;
        transform: translate(100px, -15px)rotate(75deg);
      }
      img:last-child{
        width: 121px;
        transform: translate(35px, -60px)rotate(20deg);
      }
    }

    .how_we_work_left {
      position: relative;

      .xxx1::after{
        border: none;
      }
      .triangles2{
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        transform: translateY(60%);

        img:first-child{
          width: 82px;
          transform: translate(-25px, 10px)rotate(45deg);
      }
        img:nth-child(2){
          width: 40px;
          transform: translate(25px, 10px) rotate(45deg);
        }
        img:nth-child(3){
          width: 65px;
          transform: translate(-10px,10px) rotate(45deg);
        }
      }
    }

    .how_we_work_right {
        position: relative;
        transform: translate(77px, -80px);
        border-right: 2px solid orangered;
        height: 30em;
        min-width: 600px;

        img{
          position: relative;
          z-index: 1;
          transform: translate(-40px, 120px);

        }
    }
    .how_we_work_right:before{
      content: '';
      background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, #ffffff 10px, #FFFFFF 12px);
      background-repeat: no-repeat;
      box-sizing: border-box;
      position: absolute;
      width: 170px;
      height: 170px;
      top: 90px;
      left: -10px;
      z-index: 1;
    }
    .how_we_work_right:after{
      content: '';
      background-image: linear-gradient(to bottom, #ff5b00 11%, #f4511e 46%, #fd3304 79%, #e9150b 99%);
      //background-size: 50px 50px;
      background-repeat: no-repeat;
      box-sizing: border-box;
      position: absolute;
      bottom: -80px;
      right: -15px;
      width: 580px;
      height: 510px;
      z-index: 0;
    }


    .xxx1 {
      height: 100%;
    }
  }
  .main_how_we_work_bottom {
    height: 200px;
  }
}

//        OUR WORKS
  .main_our_works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: none;


    .why_we_slogan {
      transform: translateY(-25px)
    }
    .main_our_works_img_wrapper{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 5vh 0;
      .main_gallery {
        display: grid;
        grid-template-columns: repeat(4, 368px);
        grid-template-rows: repeat(3, 245px);
        grid-gap: 15px;
        height: 100%;
        justify-content: space-between;
        margin-bottom: 15px;

        .gallery_item img {
          width: 100%;
          height: 100%;
        }
      }
      .hidden_g {
        display: none;
      }
      .visible_g{
        display: grid;
      }
      .long {
        grid-row: span 2;
      }
    }
  }

//ABOUT US PAGE

.header_fix {
  display: flex;
  background-color: #171717;
  box-shadow: 4px 0 20px #101010;
  height: 110px;
}



.about_us{
  display: flex;
  flex-direction: column;
  color: white;
  background: #171717;
  width: 100%;

  .xxx1 {
    height: 100%;
  }
  .xxx1::before {
    display: none;
  }
  .about_us_top {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 5em;

    .triangles2{
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;

      img:first-child{
        width: 41px;
        transform: translate(0px, 10px) rotate(80deg);
      }
      img:nth-child(2){
        width: 80px;
        transform: translate(-5px, 0px) rotate(25deg);
      }
      img:nth-child(3){
        width: 20px;
        transform: translate(20px, 10px) rotate(0deg);
      }
    }
}

  .about_us_center {
    display: flex;
    position: relative;
    justify-content: space-around;

    .about_us_left {
      position: relative;
      width: 50%;
    }

    .about_us_right {
      position: relative;
      height: 30em;
      min-width: 600px;
      width: 50%;
      transform: translate(35%,-30%);
      img{
        position: relative;
        z-index: 1;
        transform: translateX(-17%);
        }
    }
    .about_us_right:before{
      content: '';
      background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, #ffffff 10px, #FFFFFF 12px);
      background-repeat: no-repeat;
      box-sizing: border-box;
      position: absolute;
      width: 270px;
      height: 270px;
      top: -25px;
      right: 170px;
      z-index: 1;
    }
    .about_us_right:after{
      content: '';
      background-image: linear-gradient(to bottom, #ff5b00 11%, #f4511e 46%, #fd3304 79%, #e9150b 99%);
      background-repeat: no-repeat;
      box-sizing: border-box;
      position: absolute;
      bottom: -30px;
      right: -5%;
      width: 750px;
      height: 450px;
      z-index: 0;
    }
  }
.about_us_bottom {
height: 200px;
}
}

//About us TEAM
.about_us_team {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top:70px;
}

.team_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 10rem;
}
.team_wrapper2 {
  display: flex;
  justify-content: center;
  margin: 0 10rem ;

  .team{
    margin: 25px 12.5px;
  }

}
  .team {
    height: 380px;
    width: 375px;
    background-image: url("../src/img/img/aidra.jpg");
    background-size:cover;
    overflow: hidden;
    position: relative;

  }

  .team .team_hover
  {

    position: absolute;
    z-index: 1000;
    top:0;left:0;right:0;bottom:0;

  }
  .team:hover .team_hover
  {
    background: linear-gradient(164.44deg, #FF5B00 11.01%, #F4511E 46.15%, #FD3304 79.37%, #E9150B 99.23%);
    transition: all 0.7s;
    opacity: 0.9;
  }
  .team .team_name
  {
    position: absolute;
    text-transform: uppercase;
    padding: 7px;
    z-index: 1000;
    top:50%;
    left:-80%;
    font-weight: bold;
    font-size: 20px; width: 80%;
    transition: all 0.7s;
    span{
      margin-left: 10%;
    }
  }
  .team:hover .team_name
  {
     left:0;

  }
  .team .team_role
  {
    position: absolute;
    padding: 5px;
    z-index: 1000;
    top: 62%;
    right:-100%;
    color:#ffffff;
    font-weight: 300;
    font-size: 16px;
    width: 90%;
    transition: all 0.7s;

  }
  .team:hover .team_role
  {
    right:0;
  }
  //About Us Callback
.about_us_callback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #171717;
  height: 70vh;
  width: 100%;
  position: relative;
  }

  .callback_wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 10rem;
    position: relative;
    .triangles{
      position: absolute;
      transform: translate(-110px, 255px);
      img:first-child{
        width: 35px;
      }
      img:last-child{
        width: 50px;
      }
  }

  .callback_top_container{
    padding: 8rem 0 0 8rem;
    display: flex;
    border-left: 2px solid orangered;
  }

  .callback_bottom_container{
    position: relative;

    .reviews_container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      background-color: white;
      box-shadow: 4px 0 20px rgba(16, 16, 16, 0.2);
      width: 100%;
      min-height: 340px;

      .sbtn-left, .sbtn-right {
        height: 95px;
        width: 35px;
        background-color: orangered;
        box-shadow: 2px 0 25px rgba(16, 16, 16, 0.25);
        border: none;
        cursor: pointer;
      }
      .sbtn-left {
        transform: translateX(-15px);
      }
      .sbtn-right {
        transform: translateX(15px);
      }
      .reviews{
        width: 50%;
        text-align: center;
        padding: 5rem 0;
        position: relative;

        p {
          position: relative;
        }
      }
      .reviews *{
        margin: 25px 0;
      }
      .reviews p:before {
        content: url("../src/img/about/quote.webp") ;
        position: absolute;
        top: -10%;
        left: -10%;;
      }
      .reviews p:after {
        content: url("../src/img/about/quote1.webp") ;
        position: absolute;
        top: -10%;
        right: -10%;
      }
    }
    .reviews_container:after{
      content:"" ;
      background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #fff 10px, #fff 12px);
      background-repeat: no-repeat;
      box-sizing: border-box;
      position: absolute;
      width: 115px;
      height: 115px;
      bottom: -15px;
      right: -15px;
      z-index: 1;
    }
  }
}

  .patent {
    margin-top: 10%;
    background-color: white;
  }

  .certificate_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .certificate {
      display: flex;

      .gallery_item {
        flex-basis: 25%;
        margin: 2vh 0;

        img{
          width: 370px;
          height: 505px;
        }
      }
    }

     .hidden_g {
      display: none;
    }
    .visible_g {
      display: flex;
      flex-wrap: wrap;
    }
  }

.vacancy_wrapper {
  background-color: #171717;
  display: flex;
  height: 80vh;
  transform: translateY(21%);

  .vacancy_left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    *{
      width: 50%;
    }
    div {
      margin: 25px 0;
    }
  }
  .vacancy-right {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;

      div {
        position: relative;
        img {
          position: relative;
          z-index: 3;
          height: fit-content;
        }
      }
      div:before {
        content: '';
        background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, #fff 10px, #fff 12px);
        background-repeat: no-repeat;
        box-sizing: border-box;
        position: absolute;
        width: 270px;
        height: 270px;
        bottom: -15px;
        left: -25px;
        z-index: 1;
      }
      //div:after{
      //  content: '';
      //  background-image: linear-gradient(to bottom, #ff5b00 11%, #f4511e 46%, #fd3304 79%, #e9150b 99%);
      //  background-repeat: no-repeat;
      //  box-sizing: border-box;
      //  position: absolute;
      //  bottom: -130px;
      //  right: 0;
      //  width: 577px;
      //  height: 577px;
      //  z-index: 0;
      //}
  }
  .vacancy-right:after{
    content: '';
    background-image: linear-gradient(to bottom, #ff5b00 11%, #f4511e 46%, #fd3304 79%, #e9150b 99%);
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: absolute;
    top: -50px;
    right: 0;
    width: 577px;
    height: 577px;
    z-index: 0;
  }
}

//  CATEGORY PAGES

.category_container {
  background-color: #171717;
  position: relative;
  height: 100%;
  padding: 5em 0;

  .service_triangles{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: -69px;

    img:first-child {
      width: 25px;
      height: 25px;
      transform: translate(10px,50px);
    }

    img:nth-child(2) {
      width: 55px;
      height: 55px;
      transform: translateX(55px) rotate(60deg)
    }
    img:last-child {
      width: 100px;
      height: 100px;
      transform: rotate(80deg)translateY(20px)
    }
  }

}
.category_wrapper{
  @include F_C;
  color: white;


  .category_top_container{
    @include F_R;
    position: relative;

    .xxx1::after{
      transform: translateY(59%);
    }

    .category_top_triangles {
      position: absolute;
      right: 0;
      @include F_C;

      img:first-child{
        transform: translate(-45px, 165px);
        width: 95px;
      }
      img:last-child{
        width: 25px;
        transform: translate(-20px, 20px) rotate(-17deg);
      }
    }
  }
  .slogan_wrapper{
    display: flex;
    flex-direction: column;
    color: white;

    .category_slogan{
      width: 50%;
    }

    .subcategory_list {
      display: flex;
      align-self: center;
      justify-content: space-around;
      margin-top: 65px;
    }
    .subcategory_list ul {
      margin: 0 2.5em;
    }
    .subcategory_list ul li {
      margin: 15px 0;
    }
  }

  .menu_service_img{
    @include WhiteStripes;
    position: relative;
    transform: translateY(100px);

    img {
      z-index: 1;
      position: relative;
    }

    .menu_services_img_border{
      @include OrangeGradientToBottom;
      max-width: 423px;
      height: 423px;
      position: relative;
      top: -285px;
      left: -50px;
      z-index: 0;
    }

  }

  .main_service_bottom_container{
    height: 200px;
  }
}
.sub_service_container {
  position: relative;
}


.adb_slider {
  display: flex;
  margin: 0 10rem 10vh;
}

//.slider_container {
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  position: relative;
//  background-color: white;
//  box-shadow: 4px 0 20px rgba(16,16,16,0.2);
//  width: 100%;
//  min-height: 340px;
//}

.slider_container {
  display: flex;
  height: 40vh;
  width: 100%;
}

.main_service_wrapper .category_fix {
  .main_service_container .main_service_top_container .main_top_triangles img:first-child {
    transform: translate(45px, 20px)rotate(39deg);
    width: 135px;
  }
  .main_service_container .main_service_top_container .main_top_triangles img:last-child {
    width: 60px;
    transform: translate(55px, 0px) rotate(-15deg);
  }

}

.category_fix {
  .menu_service_img{
    transform: none;
  }
}

.category_fix2 {
  background-color: #171717;
  height: 100vh;
}

// Carousel

.adb_slider {

  section {
    width: 40em;
    height: 25em;
    margin: 0 auto;
    position: relative;
  }

  li {
    width: 500px;
    height: 281px;
    background: #333;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
  }

  li p {
    color: white;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    margin-top: 1.175em;
  }

  .items {
    position: absolute;
  }

  .main-pos {
    margin-left: 2em !important;
    z-index: 3000;
    /*background-image: url('https://dl.dropbox.com/u/32649907/imgs/shadow.png');*/
  }

  .left-pos {
    opacity: .3;
    margin-left: -17em !important;
    z-index: 1000;
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    transform: scale(.75);
  }

  .back-pos {
    margin-left: 2em !important;
    opacity: .05;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    transform: scale(.5);
  }

  .right-pos {
    opacity: .3;
    margin-left:  21em !important;
    z-index: 1000;
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    transform: scale(.75);
  }

  span {
    position: relative;
    margin: 0 auto;
    left: 17em;
    top: 20em;
  }
}


// SUBCATEGORY
.subcategory_fix {
  height: 55vh;
}

.slogan_wrapper {
  .subcategory_img_container {
    display: flex;
    width: 100%;
    margin-top: 10vh;
    position: relative;

    div {
      z-index: 2;
    }

    div:nth-child(2), div:nth-child(3){
      margin: 0 10px;
    }
    div img {
      width: 300px;
      height: 210px;
    }
  }

  .subcategory_img_container::after{
    content: '';
    background-image: linear-gradient(to bottom, #ff5b00 11%, #f4511e 46%, #fd3304 79%, #e9150b 99%);
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: absolute;
    bottom: -50px;
    right: -240px;
    width: 580px;
    height: 307px;
    z-index: 0;
  }
  .subcategory_img_container::before {
    content: '';
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, #fff 10px, #fff 12px);
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: absolute;
    width: 170px;
    height: 170px;
    top: -60px;
    right: 125px;
    z-index: 1;
  }
}

.sub_service_wrapper{
  @include F_C;
  color: black;

  .sub_service_container {

  }

  .sub_service_top_container{
    @include F_R;
    position: relative;
    justify-content: center;
  }
  .menu_service_img{
    position: relative;

    img {
      z-index: 1;
      position: relative;
      top: -35%;
    }
  }
  .menu_service_img::before{
      content: '';
      background-image: linear-gradient(to bottom, #ff5b00 11%, #f4511e 46%, #fd3304 79%, #e9150b 99%);
      background-repeat: no-repeat;
      box-sizing: border-box;
      position: absolute;
      top: -225px;
      left: -40px;
      width: 305px;
      height: 280px;
      z-index: 0;
  }

    .service_wrapper{
      display: flex;
      color: black;
      position: relative;
      justify-content: space-between;
      width: 100%;
      height: 40vh;

      div {
        flex-basis: auto;
      }
      .menu_service_img{
        width: 50%;
        position: relative;
      }
      .menu_category{
        width: 15%;
      }
      .menu_subcategory {
        width: 20%;
      }
    }
}

//CONTACTS PAGE
  .contacts {
    background-color: white;
    color: black;

    .xxx1 {
      .about_us_center {

        .about_us_right::before {
          display: none;
        }
        .about_us_right:after {
          width: 365px;
          height: 365px;
          top: -30px;
          right: 165px;
        }
      }
    }
 }

// PORTFOLIO
.portfolio_wrapper {
  .portfolio {
    .xxx1 {
      margin: 5rem 15rem 2rem;
      padding: 5rem 0 2rem;
      border-right: none;
      border-bottom: none ;
      border-left: none;
    }
    .xxx1::before {
      left: 0;
      transform: translateX(-105%)rotate(225deg);
    }

    .triangles {
      position: absolute;
      left: 150px;
      display: flex;
      flex-direction: column;

      img:first-child{
        width: 93px;
        transform: rotate(45deg) translateY(40px);
      }
    }
  }
  .tab_control_container {
    .btn{
      color: white;
      border: none;
      background-color: transparent;
      outline: none;
    }
    .active2{
      color: #e9150b;
    }
  }
}
.works_container{
  display: flex;
  flex-direction: column;

  .works_wrapper{
    display: flex;
    justify-content: space-around;
    margin: 0;
    flex-wrap: wrap;

    .img_wrapper{
      display: flex;
      flex-basis: 33%;
      flex-direction: column;
      width: 450px;
      margin: 2.5px 0;
    }
  }

}

.portfolio_bottom {
  display: flex;
  flex-direction: column;
  //margin: 0 15rem;
  transform: translateY(28%);
  //.left *{
  //  width: 75%;
  //}
  .p_top {
    span {
      margin-left: 21rem;
    }
    .triangles {
      position: absolute;
      left: 150px;
      display: flex;
      flex-direction: column;

      img:first-child{
        width: 55px;
        transform: rotate(31deg) translate(18px, 24px);
      }
      img:last-child{
        width: 25px;
        transform: translate(10px, 45px) rotate(-79deg);
      }
    }
  }
  .p_bottom{
    display: flex;
    .xxx1 {
      margin: 5rem 0 0 15rem;
      padding: 2rem 0 0;
      border-right: none;
      border-bottom: none ;
      border-left: none;
    }
    .xxx1::before {
      left: 0;
      transform: translateX(-105%)rotate(225deg);
    }
    .xxx1::after {
      border: none;
    }
  }
  .left {
    display: flex;
    justify-content: center;
    p {
      width: 70%;
    }
  }
  .right {
    position: relative;
    z-index: 2;
    margin-right: 15rem;

    img {
      position: relative;
      z-index: 2;
    }
  }
  .right::after{
    content: '';
    background-image: linear-gradient(to bottom, #ff5b00 11%, #f4511e 46%, #fd3304 79%, #e9150b 99%);
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: absolute;
    top: -51px;
    right: -50px;
    width: 550px;
    height: 540px;
    z-index: -1;
  }
  .right::before {
    content: '';
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, #fff 10px, #fff 12px);
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: absolute;
    width: 270px;
    height: 270px;
    bottom: -5px;
    right: -25px;
    z-index: 1;
  }
}

// NEWS PAGE
.news_wrapper {
  display: flex;
  .subcategory_fix {
    height: 80vh;
    margin-bottom: 25vh;
  }
   .category_container {
     width: 100%;
   }
  .xxx1{
    border-right: 2px solid #f54b19;
    border-left: none;
    border-bottom: 2px solid #f54b19;
  }
  .xxx1::before {
    left: 0;
    transform: translateX(-105%) rotate(225deg);
  }

  .blog_top_container {
    .triangles {
      left: 160px;
    }
  }
  .last_news {
    display: flex;
    position: relative;

    .last_container {
        background-color: white;
        padding: 5rem;
        position: relative;
        z-index: 2;
        width: 60%;

      .news_preview{
        padding: 3rem 0;
      }
      .fs36_r{
        margin: 0;
      }
    }
    .last_container *{
      width: 90%;
    }

    img {
      position: absolute;
      right: -60px;
      bottom: -50px;
      z-index: 5;
    }
  }
  .last_news::after{
    content: '';
    background-image: linear-gradient(to bottom, #ff5b00 11%, #f4511e 46%, #fd3304 79%, #e9150b 99%);
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: absolute;
    bottom: -50px;
    left: -50px;
    width: 420px;
    height: 400px;
    z-index: 1;
  }
  .last_news::before {
    content: '';
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, #fff 10px, #fff 12px);
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: absolute;
    width: 270px;
    height: 270px;
    bottom: 100px;
    right: -80px;;
    z-index: 1;
  }
  .last_news_bottom {
    margin-top: 20vh;

    .fs36_r{
      margin: 0;
    }
  }
}



// BLOG PAGE
.blog_wrapper {
  display: flex;
  flex-direction: column;
  color: white;
  height: 135vh;
}
.post_container {
  p{
    width: 65%;
  }
  p:last-child {
    margin-top: 15vh;
  }
  .fs20_r {
   margin:  65px 0 30px;
  }

}

.blog {

  .blog_top_container {
    display: flex;
    position: relative;

    .triangles{
      position: absolute;
      right: 80px;
      display: flex;
      flex-direction: column;

      img:first-child{
        width: 93px;
        transform: rotate(45deg) translateY(40px);
      }
      img:last-child{
        width: 25px;
        transform: translateY(50px);
      }
    }
  }

  .blog_title {
     margin-top: 120px;
     width: 50%;
  }
  .fs36_r{
    margin-left: 23rem;
  }
  .xxx1{
    margin: 5rem 15rem 2rem;
    padding: 5rem 8rem 2rem;
  }

  .xxx1::after {
    border: none;
  }
}

  .blog_top_img_container{
    margin-top: 30px;
    position: relative;

    img {
      z-index: 1;
      position: relative;
    }
  }
  .blog_top_img_container::after{
    content: '';
    background-image: linear-gradient(to bottom, #ff5b00 11%, #f4511e 46%, #fd3304 79%, #e9150b 99%);
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: absolute;
    bottom: -50px;
    right: -145px;
    width: 565px;
    height: 565px;
    z-index: 0;
  }

.other_posts{
  .hidden_g {
    display: none;
  }
  .visible_g{
    display: flex;
  }
  .why_we_slogan {
    transform: translateY(-35px);
  }
}

.post_heading{
  margin: 20px 0;
}

.more_posts {
  display: flex;
  justify-content: space-around;
  margin: 5rem 15rem;
  flex-wrap: wrap;

  .post_wrapper{
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    margin: 35px 0;

    img{
      width: 99%;
    }
  }
}
.post_link {
  background-color: transparent;
  border: none;
  color: orangered;
  font-size: 18px;
  margin-top: 3vh;
}

.post_link:after{
  content: "";
  background-image: url(../src/img/main/r_arrow.svg);
  background-size: 10px 10px;
  box-sizing: border-box;
  transform: rotate(0deg);
  height: 10px;
  width: 10px;
  position: relative;
  bottom: 0;
  left: 9px;
  display: inline-block;
}
// FOOTER

footer {
display: flex;
flex-direction: column;
color: white;



.footer_top {
background-color: #171717;
height: 900px;
display: flex;
justify-content: space-around;
margin-top: 150px;

.footer_top_left {
  position: relative;

.footer_form_wrapper{

  .footer_form {
    width: 620px;
    height: 761px;
    box-shadow: 4px 0 20px 0 rgba(16, 16, 16, 0.2);
    background-color: #ffffff;
    margin-top: 50px;
    position: relative;
    z-index: 1;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .form_container{
    padding: 0 20%;
  }

  .footer_form form{
    display: flex;
    flex-direction: column;


    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 2vh;
    }
    input{
      height: 3vh;
    }
    select {
      height: 4vh;
    }
  }

  .footer_form_border{
    @include OrangeGradient;
    width: 620px;
    height: 700px;
    position: absolute;
    top: -50px;
    left: -171px;
    z-index: 0;
  }
}
.footer_triangles{
  position: absolute;
  left: -171px;
  bottom: -15px;

  img:first-child{
    transform: rotate(35deg)translateY(-25px);
    height: 120px;
  }
  img:last-child{
    transform: rotate(-30deg);
    height: 60px;
  }
}
}

.footer_top_right {
display: flex;
flex-direction: column;
justify-content: space-around;
position: relative;

.footer_triangles {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(185px, -75px)rotate(30deg);

  img{
    width: 150px;
  }
}
.footer_contacts {
  display: flex;
  justify-content: space-between;

  .f_contacts{
    display: flex;
    margin-right: 20px;

    span{
      margin: 5px 20px 0 0;
      width: 30px;
    }
  }
}
.contact_map{
  position: relative;
  height: 50%;

  img {
    position: relative;
    z-index: 1;
  }
}
  .contact_map:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 50px;
    height: 262px;
    width: 262px;
    background: repeating-linear-gradient(45deg, transparent, transparent 10px, #fff 10px, #fff 12px);
  }
.f_mail {
  max-width: 600px;
}
}
}

.footer_bottom{
box-shadow: 4px 0 20px 0 #101010;
background-color: #171717;
display: flex;
justify-content: space-around;
align-items: center;
max-height: 210px;
z-index: 1;


.footer_menu{
text-align: center;

.footer_copyright {
  transform: translateY(30px);
}
}

.footer_social{
display: flex;
text-align: right;
align-items: center;

div{
  margin-right: 55px;
}

.social_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transform: translateY(-35px);
  height: 188px;
  width: 61px;
  background-image: linear-gradient(to top, #ff5b00 11%, #f4511e 46%, #fd3304 79%, #e9150b 99%);


}
}
}
}
